
a {
  color: black;
  text-decoration: none;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 20px 13px 20px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  gap: 30px;
}

.search-inp {
  width: 380px !important;
  border-radius: 8px !important;
}

.input-group .btn {
  position: relative;
  z-index: 2;
  right: 40px;
  z-index: 14;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  margin-left: 10px;
  cursor: pointer;
}

.square-btn {
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  background-color: #0b645c;
  border: none;
  border-radius: 5px;
  margin-right: 0px;
  color: #fff;
}

.circle-btn {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.icon1 {
  border: none;
  background: transparent;
  font-size: 20px;
  margin-right: 14px;
}

.search-container {
  position: relative;
  width: 250px;
}

.search-input {
  width: 100%;
  padding: 6px 20px;
  border: 1px solid rgb(168, 163, 163);
  border-radius: 50px;
  outline: none;
  padding-left: 40px;
  font-size: 15px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 49%;
  transform: translateY(-50%);
  color: #888;
  font-size: 16px;
}


.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #757e8c;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
}

.drop1 {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.user1 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.not_icon {
  font-size: 20px;
  cursor: pointer;
}

@media(max-width:1000px) {
  .container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    gap: 10px;
  }

  .search-inp {
    width: 180px !important;
    border-radius: 8px !important;
  }

  .side-pad {
    padding-left: 15px;
  }
  .qq
  {
    display: none;
  }
.logo-flx1 > h2{
  margin-bottom: 0px;
}
}

@media(max-width:800px) {
  .helpbot {
    display: none;
  }

  .icon1 {
    border: none;
    background: transparent;
    font-size: 20px;
    margin-right: 9px;
  }

  .container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    gap: 10px;
  }

  .search-input {
    width: 90%;
    padding: 6.4px 20px;
    border: 1px solid #acacac;
    border-radius: 50px;
    outline: none;
    padding-left: 40px;
    font-size: 15px;
    box-sizing: border-box;
  }

  .search-container {
    position: relative;
    width: auto;
  }
}